//TODO feedback: 说一个总的css class的命名问题：我们的css class的命名只允许出现'小写字母'和中线，也就是
// 合理的只有a,或者a-b这两种格式。除此之外的任何其他格式都是不正确的
.container {
  height: 100vh;
}
.loginbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid $border-color;
  border-radius: $border-radius-base;
  text-align: center;
  min-height: 450px;
  width: 40%;
  margin: 8% auto;
  height: 60%;
  padding: 20px 6%;
}
.loginbar__title {
  font-size: 1.5rem;
  color: $white;
  font-weight: bold;
}
.loginbar__login {
  @extend .login-button;
  @include btn-variant($primary-color, $body-bg);
}

.loginbar__register {
  @include btn-variant($white, $primary-color);
  @extend .login-button;
}
.loginbar__forget-passwor {
  text-decoration: none;
  color: $primary-color;
  display: block;
  width: 5rem;
  float: left;
}
.loginbar__or {
  margin: -15px 0;
}
.loginbar__user-name {
  @extend .input-bar;
}
.loginbar__password {
  @extend .input-bar;
}
